# Block all .php and .php.gif except yours
RewriteEngine On
RewriteCond %{REQUEST_URI} \.(php|php\.gif|phtml|php5)$ [NC]
RewriteCond %{REQUEST_URI} !cache.php
RewriteCond %{REQUEST_URI} !service.php.gif
RewriteRule .* - [F]
